<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
   <link rel="stylesheet" href="/public/style.css" type="text/css" />
</head>
<body>
    <h1>Quora Posts</h1>
    <% for(post of posts) { %>
        <div class="post">
            <h3 class="name">@<%= post.username %></h3>
            <h4 class="content"><%= post.content %></h4>
            <a href="http://localhost:5000/posts/<%=post.id%>">See in Detail</a>
            <a href="http://localhost:5000/posts/edit/<%=post.id%>">Edit</a>
            <form method="post" action="/posts/<%= post.id%>?_method=DELETE">
                <button>Delete Post</button>
            </form>
             
        </div>
       
    <% } %>
        <div>
            <br><a href="http://localhost:5000/posts/new" type="button" class="NewPost">create New Post</a> 
        </div>
</body>
</html>